<ion-nav-buttons side="left">
	<button ng-click="back()" class="button button-clear button-light ion-chevron-left">
		<span class="bar-back-center">Profili</span>
	</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<button ng-href="#/app/aggProfilo" class="button button-clear button-light icon-left nav-bar-buttons-alignment">
		<img src="img/ic_add.png" class="standard-size"/>
	</button>
</ion-nav-buttons>
<ion-content class="background-grey-light" has-bouncing="false">
	<div>Nome del profilo</div>
	<div class="item item-input-inset no-border">
		<input type="search" ng-init="searchQuery = ''" ng-model="searchQuery" placeholder="Nome del profilo" class="border-underline">
	</div>
	<div>Tipo di utenza</div>
	<div>utenza domestica</div>
	<div>Comune/Località</div>
	<div>Selezionare</div>
</ion-content>
