<ion-view>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear button-light icon-left ion-navicon">
			<span class="bar-title">Contatti</span>
		</button>
	</ion-nav-buttons>

	<ion-tabs class="tabs-balanced tabs-top contatti-tabs">
		<ion-tab title="COMUNITA' DI VALLE">
			<ion-content class="background-grey-light" scroll="false">
				<div class="bar bar-header bar-stable contatti-title">
					<h1 class="title">Comunità delle Giudicarie</h1>
				</div>
				<ion-content class="has-header contatti-content" has-bouncing="false" delegate-handle="mainScroll" on-scroll-complete="mainScrollResize()">
					<div class="contatti-items" ng-repeat="item in v">
						<div class="row background-grey-middle" ng-click="item.aperto=!item.aperto">
							<div class="col col-10"><i ng-class="{'ion-chevron-up':item.aperto, 'ion-chevron-down':!item.aperto}"></i>
							</div>
							<div class="col">{{item.title}}</div>
						</div>
						<div ng-show="item.aperto">
							<div class="row contatti-border">
								<div class="col background-grey-light">
									{{item.t1}}
								</div>
							</div>
							<div class="row contatti-border">
								<div class="col background-grey-light">
									{{item.t2}}
								</div>
							</div>
							<div class="row contatti-border">
								<div class="col background-grey-light">
									{{item.t3}}
								</div>
							</div>
							<div class="row">
								<div class="col col-80 col-center">WEB: <a href="http://{{item.web}}">{{item.web}}</a>
								</div>
								<button class="col col-center icon ion-earth button-balanced contatti-icon-color button-clear button-large"></button>
							</div>
							<div class="row">
								<div class="col col-80 col-center">TEL: {{item.tel}}</div>
								<button class="col col-center icon ion-ios7-telephone button-balanced contatti-icon-color button-clear button-large"></button>
							</div>
							<div class="row">
								<div class="col col-80 col-center">EMAIL: <a href="{{item.email}}">{{item.email}}</a>
								</div>
								<button class="col col-center icon ion-email button-balanced contatti-icon-color button-clear button-large"></button>
							</div>
							<div class="row">
								<div class="col col-80 col-center">PEC: <a href="{{item.pec}}">{{item.pec}}</a>
								</div>
								<button class="col col-center icon ion-email button-balanced contatti-icon-color button-clear button-large"></button>
							</div>
							<div class="row">
								<div class="col col-center">FAX: {{item.fax}}</div>
							</div>
						</div>
					</div>
					</div>
				</ion-content>
			</ion-content>
		</ion-tab>
		<ion-tab title="GESTORE">
			<ion-content class="background-grey-light" scroll="false">
				<div class="bar bar-header bar-stable contatti-title">
					<h1 class="title">SOGAP SRL</h1>
				</div>
				<ion-content class="has-header contatti-content" has-bouncing="false">
					<div class="row contatti-border">
						<div class="col background-grey-light">
							Via Cesena 13 38070 Preone (TN)
						</div>
					</div>
					<div class="row">
						<div class="col col-80 col-center">WEB: <a href="http://www.sogap.net">www.sogap.net</a>
						</div>
						<button class="col col-center icon ion-earth button-balanced contatti-icon-color button-clear button-large"></button>
					</div>
					<div class="row">
						<div class="col col-80 col-center">TEL: 0465/3222755</div>
						<button class="col col-center icon ion-ios7-telephone button-balanced contatti-icon-color button-clear button-large"></button>
					</div>
					<div class="row">
						<div class="col col-80 col-center">EMAIL: <a href="info@sogap.net">info@sogap.net</a>
						</div>
						<button class="col col-center icon ion-email button-balanced contatti-icon-color button-clear button-large"></button>
					</div>
					<div class="row contatti-border">
						<div class="col col-center">FAX: 0465/323194</div>
					</div>
				</ion-content>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>
