<ion-view>
	<ion-nav-buttons side="left">
		<button ng-click="leftClick()" class="button button-clear button-light icon-left" ng-class="{'ion-navicon': !noteSelected, 'ion-checkmark': noteSelected}">
			<span ng-class="{'bar-title': !noteSelected}">{{titleText()}}</span>
		</button>
	</ion-nav-buttons>

	<ion-tabs class="tabs-balanced tabs-top home-tabs" delegate-handle="home-tabs">

		<ion-tab title="1" on-select="readNotes()" on-deselect="noteReset()">
			<ion-nav-buttons side="right">
				<button ng-click="edit()" class="button button-clear button-light icon-left menu-edit-button nav-bar-buttons-alignment" ng-show="noteSelected && !multipleNoteSelected">
					<img ng-src="img/ic_edit.png" class="standard-size" />
				</button>
				<button ng-click="click()" class="button button-clear button-light icon-left nav-bar-buttons-alignment bar-button">
					<img ng-src="{{variableIMG}}" class="standard-size" />
				</button>
				<!--ng-class="{'ion-plus': !noteSelected, 'ion-trash-b': noteSelected}"-->
			</ion-nav-buttons>
			<ion-content class="home-tabs-content background-grey-light" has-bouncing="false">
				<ion-item ng-repeat="item in notes" ng-click="noteSelect(item)" ng-class="{'background-green-light': selectedNotes.indexOf(item) != -1, 'background-grey-light': selectedNotes.indexOf(item) == -1}">
					{{item.note}}
				</ion-item>
			</ion-content>
		</ion-tab>

		<ion-tab title="2">
			<ion-content class="home-tabs-content home-content" has-bouncing="false">
				<div class="list list-inset home-search-bar">
					<div class="item item-input-inset">
						<label class="item-input-wrapper">
							<input type="search" ng-init="searchQuery = ''" ng-model="searchQuery" placeholder="Che rifiuto vuoi buttare?">
						</label>
						<button class="button button-small button-clear" ng-class="{'ion-search button-balanced': searchQuery.length == 0, 'ion-close button-stable': searchQuery.length > 0}" ng-click="searchQuery = ''"></button>
					</div>
					<ion-item ng-repeat="item in listaRifiuti | filter:match(searchQuery)" ng-href="#/app/rifiuto/{{item.nome}}">
						{{item.nome}}
					</ion-item>
				</div>
				<div class="row" ng-repeat="item in f">
					<div class="col home-grid">
						<a class="hidden-link" ng-href="#/app/rifiuto/{{item.valore}}">
							<div>
								<img ng-src="{{item.immagine}}" />{{item.valore}}
							</div>
						</a>
					</div>
					<div class="col home-grid" ng-class="{'hidden': rifiuti[f.indexOf(item)*3+1] == undefined}">
						<a class="hidden-link" ng-href="#/app/rifiuto/{{rifiuti[f.indexOf(item)*3+1].valore}}">
							<div>
								<img ng-src="{{rifiuti[f.indexOf(item)*3+1].immagine}}" />{{rifiuti[f.indexOf(item)*3+1].valore}}
							</div>
						</a>
					</div>
					<div class="col home-grid" ng-class="{'hidden': rifiuti[f.indexOf(item)*3+2] == undefined}">
						<a class="hidden-link" ng-href="#/app/rifiuto/{{rifiuti[f.indexOf(item)*3+2].valore}}">
							<div>
								<img ng-src="{{rifiuti[f.indexOf(item)*3+2].immagine}}" />{{rifiuti[f.indexOf(item)*3+2].valore}}
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="3">
			<ion-nav-buttons side="right">
				<button ng-click="" class="button button-clear button-light icon-left">
					<img src="img/ic_go_to_today.png" class="standard-size" />
				</button>
			</ion-nav-buttons>
			<ion-content class="home-tabs-content background-grey-light" scroll="false">
				<button ng-click="reset()">Emergency Reset!!!</button>
				<p>-placeholder-</p>
				<br/>

				<div class="month">
					<div class="row">
						<div class="col col-10"><i class="icon icon-left ion-chevron-left"></i>
						</div>
						<div class="col">{{month.name}}</div><!--da aggiungere lo stile-->
						<div class="col col-10"><i class="icon icon-right ion-chevron-right"></i>
						</div>
					</div>
					<div class="row">
						<div class="col">LUN</div>
						<div class="col">MAR</div>
						<div class="col">MER</div>
						<div class="col">GIO</div>
						<div class="col">VEN</div>
						<div class="col">SAB</div>
						<div class="col">DOM</div>
					</div>
					<div class="row week" ng-repeat="week in month.weeks">
						<div class="col day" ng-repeat="item in getEmptyArrayByLenght(firstDayIndex(week))"></div>
						<div class="col day background-white" ng-repeat="day in week">{{day.date}}</div>
						<div class="col day" ng-repeat="item in getEmptyArrayByLenght(6 - lastDayIndex(week))"></div>
					</div>
				</div>

<!--
				<div class="row week">
					<div class="col day"></div>
					<div class="col day"></div>
					<div class="col day"></div>
					<div class="col day background-white">4</div>
					<div class="col day background-white">5</div>
					<div class="col day background-white">6</div>
					<div class="col day background-white">7</div>
				</div>
				<div class="row week">
					<div class="col day background-white">1</div>
					<div class="col day background-white">2</div>
					<div class="col day background-white">3</div>
					<div class="col day background-white">4</div>
					<div class="col day background-white">5</div>
					<div class="col day background-white">6</div>
					<div class="col day background-white">7</div>
				</div>
-->
			</ion-content>
		</ion-tab>

	</ion-tabs>
</ion-view>
