<ion-view>
    <!--
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear button-light icon-left ion-navicon">
            <span class="bar-title">100% Riciclo</span>
        </button>
    </ion-nav-buttons>
-->
    <ion-nav-buttons side="left">
        <button ng-click="leftClick()" class="button button-clear button-light icon-left" ng-class="{'ion-navicon': !noteSelected, 'ion-checkmark': noteSelected}">
            <span ng-class="{'bar-title': !noteSelected}">{{titleText()}}</span>
        </button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-balanced tabs-top home-tabs" delegate-handle="home-tabs">

        <ion-tab title="1" on-deselect="noteReset()">
            <ion-nav-buttons side="right">
                <button ng-click="edit()" class="button button-clear button-light icon-left ion-edit menu-edit-button nav-bar-buttons-alignment" ng-class="{'visible': noteSelected && !multipleNoteSelected, 'hidden': !noteSelected || multipleNoteSelected}"></button>
                <button ng-click="click()" class="button button-clear button-light icon-left nav-bar-buttons-alignment" ng-class="{'ion-plus': !noteSelected, 'ion-trash-b': noteSelected}"></button>
            </ion-nav-buttons>
            <ion-content class="home-tabs-content background-grey-light" has-bouncing="false">
                <ion-item ng-repeat="item in notes" ng-click="noteSelect(item)" ng-class="{'background-green-light': selectedNotes.indexOf(item) != -1, 'background-grey-light': selectedNotes.indexOf(item) == -1}">
                    {{item.note}}
                </ion-item>
            </ion-content>
        </ion-tab>

        <ion-tab title="2">
            <ion-content class="home-tabs-content home-content" has-bouncing="false">
                <div class="list list-inset home-search-bar">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="search" ng-init="searchQuery = ''" ng-model="searchQuery" placeholder="Che rifiuto vuoi buttare?">
                        </label>
                        <button class="button button-small button-clear" ng-class="{'ion-search button-balanced': searchQuery.length == 0, 'ion-close button-stable': searchQuery.length > 0}" ng-click="searchQuery = ''"></button>
                    </div>
                    <ion-item ng-repeat="item in ['carta','cartone','plastica'] | filter:match(searchQuery)">
                        {{item}}
                    </ion-item>
                </div>
                    <div class="row" ng-repeat="item in f">
                        <div class="col home-grid">
                            <img src="{{item.image}}" />{{item.name}}</div>
                        <div class="col home-grid" ng-class="{'hidden': rifiuti[f.indexOf(item)*3+1] == undefined}">
                            <img src="{{rifiuti[f.indexOf(item)*3+1].image}}" />{{rifiuti[f.indexOf(item)*3+1].name}}</div>
                        <div class="col home-grid" ng-class="{'hidden': rifiuti[f.indexOf(item)*3+2] == undefined}">
                            <img src="{{rifiuti[f.indexOf(item)*3+2].image}}" />{{rifiuti[f.indexOf(item)*3+2].name}}</div>
                    </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="3">
            <ion-nav-buttons side="right">
                <button ng-click="click()" class="button button-clear button-light icon-left ion-calendar"></button>
            </ion-nav-buttons>
            <ion-content class="home-tabs-content" scroll="false">
                <p>-placeholder-</p>
            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
