<ion-side-menus>
	<ion-pane ion-side-menu-content edge-drag-threshold="30">
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>
	<ion-side-menu side="left">
		<ion-content class="background-grey-dark" scroll="false">
			<ion-list>
				<label class="item item-radio text-white">
					<input type="radio" name="group">
					<div class="item-content background-grey-dark text-white">
						Casa
					</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<label class="item item-radio text-white">
					<input type="radio" name="group">
					<div class="item-content background-grey-dark text-white">
						Ufficio
					</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</ion-list>
			<ion-content has-bouncing="false" style="top:{{2*54}}px">
				<!--Lo stile è in linea per poter utilizzare le espressioni '{{}}'-->
				<!--style="top:{{2*54}}px"-->
				<!--(2) è il numero di profili, quando verrà implementato il caricamento è necessario sostituirlo con una variabile-->
				<!--Controllare che 54 sia fisso anche se si cambia il telefono !!! -->
				<ion-list class="menu-list">
					<ion-item nav-clear menu-close href="#/app/home">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_home.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Home</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/puntiDiRaccolta/!">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_punti_raccolta.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Punti di raccolta</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/tipiDiRaccolta">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_tipi_raccolta.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Tipi di raccolta</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/profili">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_profilo.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Gestione profili</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/segnala">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_segnala.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Segnala</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/contatti">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_contatti.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Contatti</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_tutorial.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Tutorial</div>
						</div>
					</ion-item>
					<ion-item nav-clear menu-close href="#/app/info">
						<div class="row">
							<div class="col col-15" style="position:relative;">
								<img src="img/ic_info.png" class="absolute-center menu-size" />
							</div>
							<div class="col" style="margin:auto;">Info</div>
						</div>
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
