<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-clear button-light icon-left ion-navicon">
		<span class="bar-title">Profili</span>
	</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<a href="#/app/aggProfilo" class="button button-clear button-light icon-left nav-bar-buttons-alignment">
		<img ng-src="img/ic_add.png" class="standard-size"/>
	</a>
</ion-nav-buttons>
<ion-content class="background-grey-light" has-bouncing="false">
	<div class="row background-grey-light profili-profilo" ng-repeat="profilo in p"> <!--profili-profilo ???-->
		<div class="col backgorund-white">
			<a class="hidden-link" ng-href="#app/modificaProfilo/{{profilo.name}}">
				<div>
					<div class="row profili-title">
						{{profilo.name}}
					</div>
					<div class="row profili-info">
						{{profilo.type}}: {{profilo.loc}}
					</div>
				</div>
			</a>
		</div>
	</div>
</ion-content>
