<ion-nav-buttons side="left">
	<button menu-toggle="left" class="row button button-clear button-light icon-left ion-navicon">
        <img ng-if="!noteSelected" class="img-menu" src="img/ic_launcher.png">
        <div  class="wrap-title">
            <span class="main-title" >{{"Profili" | translate}}</span>
            <div class="sub-title">{{selectedProfile.name}}</div>
        </div>
		<!--<span class="bar-title">Profili</span>
        <div class= "title-subtext1">{{selectedProfile.name}}</div>-->
	</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<a href="#/app/aggProfilo" class="button button-clear button-light icon-left nav-bar-buttons-alignment">
		<img ng-src="img/ic_add.png" class="standard-size" />
	</a>
</ion-nav-buttons>
<ion-content class="background-grey-light" has-bouncing="false">
	<div class="row background-grey-light profili-profilo" ng-repeat="profilo in profili track by $index">
		<div class="col background-white">
			<a class="hidden-link" ng-href="#app/modificaProfilo/{{profilo.id}}">
				<div>
					<div class="row profili-title">
						<div class="col no-border">
							{{profilo.name}}
						</div>
					</div>
					<div class="row profili-info">
						<div class="col no-border">
							{{profilo.utenza.profilo|translate}}: {{profilo.area.localita}}
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</ion-content>
