<ion-nav-viev>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear button-light icon-left ion-navicon">
			<span class="bar-title">Punti di raccolta</span>
		</button>
	</ion-nav-buttons>
	<ion-content class="has-header" scroll="false" id="map-container">
		<div id="map1">
			<google-map pan="map.pan" center="map.center" zoom="map.zoom" draggable="{{map.draggable}}" options="map.options">
				<markers models="markers.models" coords="markers.coords" icon="markers.icon" click="openMarkerClick" fit="markers.fit" doCluster="markers.doCluster">
				</markers>
			</google-map>
		</div>
	</ion-content>
</ion-nav-viev>
