<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Tipo di raccolta"|translate}}</div>
            <div class="nav-title-sub">{{id|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button ng-click="back()" class="row button button-clear button-light icon-left ion-ios7-arrow-back">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-balanced tabs-100r">
        <ion-tab title="{{'LISTA RIFIUTI'|translate}}">
            <ion-view>
                <ion-content class="background-grey-light" has-bouncing="false">
                    <ion-list class="background-grey-light">
                        <ion-item ng-repeat="item in rifiuti" class="background-grey-light" ng-href="#/app/rifiuto/{{item.nome}}">
                            {{item.nome|translate}}
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'PUNTI DI RACCOLTA'|translate}}">
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div class="bottom-border">
                        <div class="expandable-list-item" ng-repeat="item in raccolta">
                            <div class="row expandable-list-item-header" ng-click="item.aperto=!item.aperto">
                                <div class="col col-10 col-center">
                                    <i ng-class="{'ion-chevron-up':item.aperto, 'ion-chevron-down':!item.aperto}"></i>
                                </div>
                                <div class="col col-75">
                                    <div class="row expandable-list-item-title">
                                        <div class="col">
                                            {{item.tipologiaPuntoRaccolta|translate}}
                                        </div>
                                    </div>
                                    <div class="row expandable-list-item-subtitle">
                                        <div class="col">
                                            {{item.tipologiaRaccolta|translate}}
                                        </div>
                                    </div>
                                    <div class="row expandable-list-item-desc">
                                        <div class="col">
                                            {{item.infoRaccolta|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <img ng-src="{{item.icon}}" width="25" height="25">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="item.aperto">
                                <a ng-repeat="punto in item.punti" class="hidden-link" ng-href="#/app/puntoDiRaccolta/{{punto.dettaglioIndirizzo || punto.indirizzo}}">
                                    <div class="row background-grey-light">
                                        <div class="col">
                                            {{punto.dettaglioIndirizzo || punto.indirizzo}}
                                        </div>
                                    </div>
                                </a>
                                <div class="row row-center background-grey-light nowrap" ng-show="!item.punti || item.punti.length==0">
                                    {{'empty_elem'|translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
