<ion-view>
  <ion-nav-buttons side="left">
    <button ng-click="back()" class="button button-clear button-light ion-chevron-left sub-page-button">
      <span class="bar-back">{{"Rifiuto"|translate}}</span>
      </br>
      <p class="title-subtext">{{nome|translate}}</p>
    </button>      
<!--
    <a href="#/app/home/tipidirifiuti" class="button button-clear button-light ion-chevron-left sub-page-button">
      <span class="bar-back">{{"Rifiuto"|translate}}</span>
      </br>
      <div class="title-subtext">{{nome|translate}}</div>
    </a>
-->
  </ion-nav-buttons>
  <ion-tabs class="tabs-balanced tabs-top contatti-tabs">
          <ion-tab title="{{'PUNTI DI RACCOLTA'|translate}}">
              <ion-content class="background-grey-light" scroll="false">
      <div class="expandable-list-items" ng-repeat="item in raccolta">
          <div class="row background-grey-middle no-vertical-padding" ng-click="item.aperto=!item.aperto">
              <div class="col col-10 col-center">
                  <i ng-class="{'ion-chevron-up':item.aperto, 'ion-chevron-down':!item.aperto}"></i>
              </div>
              <div class="col col-75">
                  <div class="row only-bottom-vertical-padding expandable-list-title">
                      <div class="col no-vertical-padding">
                          {{item.tipologiaPuntoRaccolta|translate}}
                      </div>
                  </div>
                  <div class="row only-bottom-vertical-padding">
                      <div class="col no-vertical-padding">
                          {{item.tipologiaRaccolta|translate}}
                      </div>
                  </div>
                  <div class="row no-vertical-padding expandable-list-desc">
                      <div class="col no-vertical-padding">
                          {{item.infoRaccolta|translate}}
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="row">
                      <div class="col">
                          <img ng-src="{{item.icon}}" width="25" height="25">
                      </div>
                  </div>
              </div>
          </div>
          <div ng-show="item.aperto">
              <a ng-repeat="punto in item.punti" class="hidden-link" ng-href="#/app/puntoDiRaccolta/{{punto.dettaglioIndirizzo || punto.indirizzo}}">
                  <div class="row background-grey-light">
                      <div class="col">
                          {{punto.dettaglioIndirizzo || punto.indirizzo}}
                      </div>
                  </div>
              </a>
              <div class="row row-center background-grey-light" ng-show="!item.punti || item.punti.length==0">
                {{'empty_elem'|translate}}
              </div>  
          </div>
      </div>
  </ion-content>

      </ion-tab> 
  </ion-tabs>
</ion-view>
