<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Segnalazione"|translate}}</div>
            <div class="nav-title-sub">{{selectedProfile.name}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-clear button-light icon-left ion-navicon">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>

    <ion-content class="segnala">
        <div class="segnala-desc">
            {{"Invia"|translate}}
        </div>
        <div class="item item-input-inset segnala-text-input">
            <input type="text" ng-model="msg.text" placeholder="{{'Inserisci qui il testo della segnalazione'|translate}}">
        </div>
        <div class="row segnala-photo" ng-click="takePicture()">
            <button class="button-clear">
                <img src="img/ic_camera.png" />
            </button>
            <div class="col">{{"Scatta una foto"|translate}}</div>
        </div>
        <div ng-show="imgURI !== undefined" class="row segnala-image">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        </div>
        <div class="row segnala-position" ng-click="toggleCheck()">
            <button class="button-clear">
                <img ng-src="{{checkboxImage}}" />
            </button>
            <div>
                {{"Allega la tua posizione"|translate}}
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer">
        <button class="button button-balanced button-block segnala-send" ng-click="sendEmail()">
            <a>{{"Segnala!"|translate }}</a>
        </button>
    </div>
</ion-view>
