<ion-nav-buttons side="left">
	<button menu-toggle="left" class="row button button-clear button-light icon-left ion-navicon">
        <img ng-if="!noteSelected" class="img-menu" src="img/ic_launcher.png">
            <div  class="wrap-title">
                <span class="main-title">{{"Tipologie di raccolta"| translate}}</span>
                <div class="sub-title">{{selectedProfile.name}}</div>
            </div>
		<!--<span class="bar-title">TIPOLOGIE DI RACCOLTA</span>
        <div class= "title-subtext1">{{selectedProfile.name}}</div>-->
	</button>
</ion-nav-buttons>
<ion-content class="background-grey-light" has-bouncing="false">
	<ion-list class="contatti-item-list">
		<ion-item ng-repeat="item in v" ng-href="#/app/raccolta/{{item.name}}" class="no-vertical-padding">
			<div class="row no-vertical-padding">
				<div class="col only-top-vertical-padding">
					{{item.name | translate}}
				</div>
			</div>
			<div class="row only-top-vertical-padding">
				<div class="col col-10" ng-repeat="icon in item.icons">
					<img ng-src="{{icon}}" height="30" width="30">
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
