<ion-nav-buttons side="right">
  <button ng-click="goToToday()" class="button button-clear button-light menu-edit-button nav-bar-buttons-alignment">
    <img src="img/today.png" class="standard-size" />
  </button>
          <button ng-click="switchView()" class="button button-clear button-light icon-left nav-bar-buttons-alignment bar-button">
    <img ng-src="{{variableIMG2}}" class="standard-size" />
  </button>
</ion-nav-buttons>
<ion-content has-bouncing="false" class="home-tabs-content background-grey-light">
  <div  ng-if="!calendarView" class="month">
    <div class="row">
      <div ng-click="lastMonth()" class="col col-10"><i class="icon icon-left ion-chevron-left"></i>
      </div>
      <div class="col month-name">{{month.name.split(" ")[0] |translate}} {{month.name.split(" ")[1] |translate}}</div><!--da aggiungere lo stile-->
      <div  ng-click="nextMonth()" class="col col-10"><i style="float:right" class="icon icon-right ion-chevron-right"></i>
      </div>
    </div>
    <div class="row week-day">
      <div class="col">{{ "LUN" | translate}}</div>
      <div class="col">{{ "MAR" | translate}}</div>
      <div class="col">{{ "MER" | translate}}</div>
      <div class="col">{{ "GIO" | translate}}</div>
      <div class="col">{{ "VEN" | translate}}</div>
      <div class="col">{{ "SAB" | translate}}</div>
      <div class="col">{{ "DOM" | translate}}</div>
    </div>
    <div class="row week" ng-repeat="week in month.weeks">
      <div  class="col day" ng-repeat="item in getEmptyArrayByLength(firstDayIndex(week))"></div>
      <div ng-click="selectDay(day)" class="col day" ng-class="{'today' : day.dateString == currDate.toLocaleDateString(), 'background-white' : true}" ng-repeat="day in week" >
        <div ng-if="day.date!=null" class="day-date">
          {{day.date.getDate()}}
        </div>
        <div class="row no-orizontal-padding">
          <div class="separation-padding" ng-repeat="colore in day.colors">
            <div class="fixed-size" style="background-color:{{getColor(colore)}};"></div>
          </div>
          <div class="separation-padding" ng-if="day.events.length == 0">
            <div class="fixed-size"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  ng-if="calendarView">
    <ion-list  id="listaCalendario" ng-repeat="day in dayList" >
      <ion-item id="{{day.dateString}}" style="text-align:center;" class="my-item background-grey-light" ng-if="day.colors.length > 0">
          {{day.date | date:'EEEE d MMMM y'}}
      </ion-item>
      <ion-item  ng-if="day.colors.length > 0" ng-class="{'background-green-light':day.dateString==currListItem.dateString}">
        <div ng-repeat="(key, block) in day.events">
          <span class="expandable-list-title">{{block.type | translate}}</span>
          <div ng-repeat="elem in block.events" class="row no-padding">
            <div class="col-10 col-center">
              <img ng-src="{{getIcon(elem)}}" height="30" width="30">
            </div>
            <div class="col col-center no-padding">
              <span class="row" ng-repeat="d in elem.descr">{{d}}</span>
            </div>
          </div>  
        </div>  

      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreDays()" distance="10%"></ion-infinite-scroll>
  </div>
</ion-content>
