<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{titleText()}}</div>
            <div class="nav-title-sub">{{subTitleText()}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button id="menuId" ng-click="leftClick()" class="row button button-icon" ng-class="{'ion-navicon': !noteSelected, 'ion-checkmark': noteSelected}">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="nowrap">
            <button ng-click="goToToday()" class="button button-icon btn btn-edit">
                <img src="img/today.png" />
            </button>
            <button ng-click="switchView()" class="button button-icon btn btn-variable">
                <img ng-src="{{variableIMG2}}" />
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content has-bouncing="false" class="home-calendar">
        <div ng-if="!calendarView" class="calendar">
            <div class="row month-bar">
                <div ng-click="lastMonth()" class="col col-10 btn-prev"><i class="icon icon-left ion-chevron-left"></i>
                </div>
                <div class="col month-name">{{month.name.split(" ")[0] |translate}} {{month.name.split(" ")[1] |translate}}</div>
                <!--da aggiungere lo stile-->
                <div ng-click="nextMonth()" class="col col-10 btn-next"><i class="icon icon-right ion-chevron-right"></i>
                </div>
            </div>
            <div class="row week-days">
                <div class="col">{{ "LUN" | translate}}</div>
                <div class="col">{{ "MAR" | translate}}</div>
                <div class="col">{{ "MER" | translate}}</div>
                <div class="col">{{ "GIO" | translate}}</div>
                <div class="col">{{ "VEN" | translate}}</div>
                <div class="col">{{ "SAB" | translate}}</div>
                <div class="col">{{ "DOM" | translate}}</div>
            </div>
            <div class="row week" ng-repeat="week in month.weeks">
                <div class="col noday" ng-repeat="item in getEmptyArrayByLength(firstDayIndex(week))"></div>
                <div ng-click="selectDay(day)" class="col day" ng-class="{'today' : day.dateString == currDate.toLocaleDateString()}" ng-repeat="day in week">
                    <div ng-if="day.date!=null" class="day-date">
                        {{day.date.getDate()}}
                    </div>
                    <div class="row day-slots">
                        <div class="day-slot" ng-repeat="colore in day.colors">
                            <div style="background-color:{{getColor(colore)}};"></div>
                        </div>
                        <div class="day-slot" ng-if="day.events.length == 0">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="calendarView" class="agenda">
            <ion-list class="day" ng-repeat="day in daySubList">
                <ion-item id="{{day.dateString}}" class="day-title" ng-if="day.colors.length > 0">
                    {{day.date | date:'EEEE d MMMM y'}}
                </ion-item>
                <ion-item ng-if="day.colors.length > 0" class="day-content" ng-class="{'day-content-active':day.dateString==currListItem.dateString}">
                    <div ng-repeat="(key, block) in day.events">
                        <span class="content-title">{{block.type | translate}}</span>
                        <div ng-repeat="elem in block.events" class="row content-event">
                            <div class="col-10 col-center">
                                <img ng-src="{{getIcon(elem)}}" height="30" width="30">
                            </div>
                            <div class="col col-center event-desc">
                                <span class="row" ng-repeat="d in elem.descr">{{d}}</span>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <!--ion-infinite-scroll on-infinite="loadMoreDays()" distance="10%"></ion-infinite-scroll -->
        </div>
    </ion-content>
</ion-view>
