<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{titleText()}}</div>
            <div class="nav-title-sub">{{subTitleText()}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button id="menuId" ng-click="leftClick()" class="row button button-clear button-light icon-left" ng-class="{'ion-navicon': !noteSelected, 'ion-checkmark': noteSelected}">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="nowrap">
            <button ng-click="edit()" class="button button-clear button-light icon-left btn btn-edit" ng-if="noteSelected && !multipleNoteSelected">
                <img ng-src="img/ic_edit.png" />
            </button>
            <button ng-click="click()" class="button button-clear button-light icon-left btn btn-variable">
                <img ng-src="{{variableIMG}}" />
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content class="home-notes" has-bouncing="false">
        <div class="home-notes-none" style="margin-top:{{(height-74)*0.5-130}}px;" ng-if="notes[0]==null">
            <p>{{"Tocca" | translate}}</p>
            <img src="img/ic_note.png">
            <p>{{"ad esempio" | translate}}
                <br />
                <!-- {{(height-74)*0.5+40-((height-74)*0.5-100)}}px -->
                {{"Portare la tv al CRM"| translate}}
                <br /> {{"Pagare la bolletta dei rifiuti"| translate}}
            </p>
        </div>
        <ion-item ng-repeat="item in notes" class="home-notes-item" ng-click="noteSelect($index)" ng-class="{'home-notes-item-selected': selectedNotes.indexOf($index) != -1}">
            {{item}}
        </ion-item>
    </ion-content>
</ion-view>
