<ion-view>
    <ion-nav-buttons side="left">
        <button id="menuId" ng-click="leftClick()" class="row button button-clear button-light icon-left" ng-class="{'ion-navicon': !noteSelected, 'ion-checkmark': noteSelected}">
            <img ng-if="!noteSelected" class="img-menu" src="img/ic_launcher.png">
            <div class="wrap-title">
                <span class="main-title">{{titleText()}}</span>
                <span class="sub-title">{{subTitleText()}}</span>
            </div>
        </button>
    </ion-nav-buttons>

    <ion-content class="home-tabs-content home-content" has-bouncing="false">
        <div class="list list-inset home-search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" ng-init="searchQuery = ''" ng-model="searchQuery" placeholder="{{'Che rifiuto vuoi buttare?' | translate}}">
                </label>
                <button id="searchButton" class="button button-small button-clear" ng-class="{'ion-search button-balanced': searchQuery.length == 0, 'ion-close button-stable': searchQuery.length > 0}" ng-click="searchQuery = ''"></button>
            </div>
            <ion-item ng-repeat="item in selectedProfile.rifiuti | filter:match(searchQuery)" ng-href="#/app/rifiuto/{{item.nome}}">
                {{item.nome | translate}}
            </ion-item>
        </div>
        <div class="row" ng-repeat="row in tipologie">
            <div class="col home-grid" ng-repeat="item in row">
                <a class="hidden-link" ng-href="#/app/rifiuti/{{item.label}}">
                    <div>
                        <img id=rifiutoId ng-src="{{item.img}}" />{{item.label | translate}}
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
